<html>
<head>
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
  <div id="images" style="width: 400px; margin: 0 auto;">
    <a href="{{ data['status'] }}"><img class="twat" src="{{ data['image'] }}"/></a>
  </div>

  <style>
    body { margin: 0 }
    a {
      position: absolute;
      border: solid medium black;
    }
    .hidden { visibility: hidden; }
    .twat { width: 400px; }
  </style>

  <script type="text/javascript">
    window.setInterval(function(){
      $.get('/latest_trump', function(data) {
        let img = `<img class="twat latest" src="${data['image']}" />`;
        $('#images').prepend(`<a class="hidden" href="${data['status']}">${img}</a>`);

        $('.latest').load(function() {
          let height = $(this).css('height');

          $(this).parent().removeClass('hidden');
          $(this).parent().css('top', `-${height}`);

          $('a').animate({
            top: `+=${height}`
          }, 1000, 'linear', function() {
            $('.latest').removeClass('latest');
          });
        });
      })
    }, 2000);
  </script>
</body>
</html>
