<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
  <section>
    <div id="twat0"><a href=""></a></div>
    <div id="twat1"><a href=""></a></div>
    <div id="twat2"><a href=""></a></div>
    <div id="twat3"><a href=""></a></div>
    <div id="twat4"><a href=""></a></div>
    <div id="twat5"><a href=""></a></div>
    <div id="twat6"><a href=""></a></div>
    <div id="twat7"><a href=""></a></div>
    <div id="twat8"><a href=""></a></div>
    <div id="twat9"><a href=""></a></div>
    <div id="twat10"><a href=""></a></div>
    <div id="twat11"><a href=""></a></div>
  </section>

  <script type="text/javascript">
    var requesting = false;

    function randomInt(min, max) {
      return Math.floor(Math.random() * (max - min)) + min;
    }

    function clearRequesting() {
      requesting = false;
    }

    function resizeTwat(id) {
      var $image = $(id + ' img');
      var width = $image.width();
      var height = $image.height();

      var paddingLeft = ($(id).width() - width) / 2;
      $image.css('padding-left', paddingLeft + 'px');
      var paddingRight = ($(id).height() - height) / 2;
      $image.css('padding-top', paddingRight + 'px');
    }

    function update(id) {
      if (requesting) {
        return setTimeout(update, 200, id);
      }

      requesting = true;
      $.get('/latest_trump', function(data) {
        setTimeout(clearRequesting, 800);

        $(id + ' a').fadeOut(500, function() {
          $(this).remove();

          var img = '<img src="' + data['image'] + '" />';
          $(id).prepend('<a class="hidden" href="' + data['status'] + '">' + img + '</a>');

          $(id + ' img').load(function() {
            resizeTwat(id);

            $(this).parent().css('visibility', 'visible').hide().fadeIn(500, function() {
              setTimeout(update, randomInt(7000, 13000), id);
            });
          });
        });
      });
    }

    var ids = [0,1,2,3,4,5,6,7,8,9,10,11].sort(function() {
      return .5 - Math.random();
    });

    var delay = 200;

    for (var i = 0; i < 12; i++) {
      delay += 200;
      setTimeout(update, delay, '#twat' + ids[i]);
    }

    $(window).resize(function() {
      for (var i = 0; i < 12; i++) {
        resizeTwat('#twat' + ids[i]);
      }
    });
  </script>
</body>
</html>
